body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
}
#calculator {
    border-radius: 15px;
    background-color: hsl(0, 0%, 15%);
    max-width: 500px;
    overflow: hidden;
}
#display {
    color: white;
    width: 100%;
    padding: 20px; 
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);

}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
}
button{
    width: 100px;
    height: 100px;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: hsl(0, 0%, 40%);
}
button:active {
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{    
    background-color: hsl(38, 87%, 47%);
}